h2::before {
    content: "# ";
    font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale) * 0.7);
}

h3::before {
    content: "## ";
    font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * 0.7);
}

h4::before {
    content: "### ";
    font-size: calc(var(--base-fontsize) * var(--header-scale) * 0.7);
}
