html {
    background-color: #28264c;
    --text: #e3e9fa !important;
}
body {
    --bg: #2d2b55 !important;
    max-width: max(60%, 45rem) !important;
}
a {
    --accent: #82aaff !important;
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    font-size: 70%;
}

h2::before {
    content: "# ";
}
h2 {
    color: #50c4fa;
}

h3::before {
    content: "## ";
}
h3 {
    color: #9effff;
}

h4::before {
    content: "### ";
}
h4 {
    color: #ff98a4;
}

h5::before {
    content: "#### ";
}
h5 {
    color: #82aaff;
}

h6::before {
    content: "##### ";
}
h6 {
    color: #ff9d00;
}
